@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');





body {
  background-color: white;
  font-family: 'Montserrat', sans-serif

}

.box-shadow{
  box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 1px 0px, 
  rgba(17, 17, 26, 0.2) 0px 0px 8px,  
  rgba(0, 0, 0, 0.1) 0px 4px 12px;    


}


.text-style{
  @apply font-montserrat text-[#1F2128] font-thin text-sm
}

